/* Navbar */
.navbar{
  display: flex;
  justify-content: space-around;
  padding: 10px;

}
/* Logo picture in nav bar */
.navbar{
  display: flex;
  align-items: center;
}
.logo-pic{
  width: 150px;
  height: 150px;
}


/* Shoping cart img */
.shopping-cart{
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insta img{
  width: 30px;
  height: 30px;
}
.facebook img{
  width: 30px;
  height: 30px;
}
/* Log in || Sign up */
/* .loginsignup{
  width: 80%;
  height: 80vh;
  background-color: beige;
  padding-top: 100px;
} */
/* Tours */
.bodyTourse{
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 50px;
  margin-right: 50;
}